*:not(#user-container, #username-input, #user-online-container) { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}


body { font: 13px Helvetica, Arial; }

#user-container{
    border: 2px solid #eee;
    width: 20%;
    margin: auto;
    border-radius: 5px;
    margin: 100px auto;
    z-index: 2;
}

.box-1{
    display: inline-block;
    margin: 10px;
    text-align: center;
}

#name{
    width: 50%;
}


.input{
    width: 30%;
    display: inline-block;
    margin: 10px auto;
    border-radius: 5px;
    padding: 5px;
}

.button-style{
    padding: 5px;
    border-radius: 5px;
    margin-left: 5px;
}

.button-style:hover{
    cursor: pointer;
}


#user-online-container{
    position: fixed;
    display: none; /*HIDDEN BY DEFAULT*/
    right: 50%;
    margin-right: 1%;
    top: 30%;
    padding: 5px;
    border-style: solid;
    border-radius: 5px;
    border-color: #eee;
    width: 10%;
    z-index: 2;
}

#user-online-container #close-user-container{
    float: right;
    margin-bottom: 5%;
}

/*
#show-users{
    position: fixed;
    right: 11%;
    bottom: 2.1%;
}
*/

#text-input { 
    display: none; /*HIDDEN FROM THE START*/
    position: fixed; 
    bottom: 1%; 
    width: 100%;
}

#m{
    border: 2px solid #eee; 
    padding: 5px; 
    width: 80%; 
    margin-right: .5%; 
    margin-left: .5%;
}

/*form button :not(.button-style){ 
    width: 9%; 
    background: rgb(130, 224, 255); 
    border: none; 
    padding: 10px; 
    float: right; 
}*/

.list { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}


.list li { 
    padding: 5px 10px;
}


.list li:nth-child(odd) { background: #eee; }

#space{
    margin-bottom: 5%;
}